<div>Student toevoegen</div>

<form action="Create" method="post">
    <div>Voornaam: <input name="firstName" type="text" /></div>
    <div>Email: <input name="email" type="text" /></div>
    <div><input type="submit" /></div>
</form>